body {
    padding: 0 5%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
}
nav{
    font-family: 'segoe UI';

    padding-top: 10px;
}

nav a {
    text-decoration: none;
    color: cornflowerblue;
    margin: 10px;
    text-transform: uppercase;
}

.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    width: 100px;
}

.subscribe  {
    text-transform: uppercase;
    background-color: black;
    color: floralwhite;
    padding: 10px 15px;
}

.me {
    display: flex;
flex-direction: row;
align-items: center;
gap: 40px;
padding: 0 10%;
justify-content: center;
}

.intro {
    width: 60%;
}

.intro h1{
    font-family: 'shadows into light';
    font-style: italic;
    font-size: 25px;
}

.into p{
    font-family: 'schoolBell';
    font-size: 22px;
}

.image {
    width: 40%;
}

img {
    width: 100%;
    max-width: 300px;
    border-radius: 35px
}

blockquote {
    font-family: "IMB Plex Mono";
    font-style: italic;
    border-left: 5px gray solid;
    background-color: rgb(200, 222, 245);
    margin-left: 0px;
    padding: 10px;
}

footer{
    font-family: 'segoe UI';
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
    padding: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}