body{
    margin: opx;
    padding: opx;
}

header {
    position: relative;
    margin-bottom: 10px;
    height: 700px;
}

header img, 
header h1 {
    position: absolute;
}

header img {
z-index: 1;
height: 100%;
width: 100%;
}

header h1 {
z-index: 2;
left: 25%;
width: 50%;
margin: 120px auto;
background-color: bisque;
text-align: center;
padding: 5px;
font-size: 42px;
font-family: "Roboto Mono";
color: rgb(112, 176, 231);
}

nav{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: rgb(226, 222, 224);
    z-index: 3;
    padding: 20px;
    text-align: center;
    font-family: 'shadows into light';
}

nav a {
    margin: 20px;
    text-decoration: none;
    font-size: 18px;
    color: blue;
}

.purpose {
    margin: 40px auto;
    width: 65%;
}

.purpose h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-bottom: 0px;
}

.purpose p {
    font-family:'Courier New', Courier, monospace;
    margin-top: 10px;
    font-size: 20px;
}

footer {
    background-color: rgb(177, 187, 194);
    padding: 80px;
    text-align: center;
    color: rgb(59, 58, 55);
}

.back-to-top {
    background-color: beige;
    width: 40px;
    margin: 0px auto;
    padding: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.back-to-top a {
    color: antiquewhite;
    text-decoration: none;
}

footer p{
    font-family: 'Courier New', Courier, monospace;
    font-size: small;
}

.blog-cards .blog-cards-article article img {
    width: 100%;
    height: 65%;
}

.blog-cards-article {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 40;
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
}

.blog-cards-article article {
 flex: 0 0 350px;
 font-family: 'Courier New', Courier, monospace;
 box-shadow: 4px 4px 20px black;
 height: 525px;
}
.blog-cards h2 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin-bottom: 0px;
}

.blog-cards-article h3,
.blog-cards-article p {
    padding-left: 10px;
    padding-right: 10px;
}